desktop.ini
Thumbs.db
ehthumbs.db
.DS_Store
.Spotlight-V100
.Trashes

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

dist/
build/
.cache/
.parcel-cache/
*.log
npm-debug.log*
yarn-debug.log*

.env
.env.local
.env.*.local